{
  "presets": ["@babel/preset-typescript", "@babel/env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./src/components"
      }
    }]
  ]
}